

  /* Add more CSS styling as needed */


.label .PRIVACY-POLICY {
    
    font-size: 29px;
   
    line-height: normal;
  
    top: 0;
    padding: 10px 30px;
    font-size: medium;

    text-align: justify;
    
}
