.app-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
}

.editor-container,
.details-container {
  background: #ffffff;
  border: 1px solid #e5e5e5;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
}

.editor-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.details-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.save-button {
  background-color: #c99f49;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 20px;
  border-radius: 4px;
  cursor: pointer;
}

.react-quill {
  height: 300px;
  color: #c99f49;
}

@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }

  .editor-container,
  .details-container {
    width: 100%;
    margin-bottom: 20px;
  }
}
