* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 20px;
}

.faq1,
.faq2 {
  text-align: left;
  margin: 1.5rem auto;
  max-width: 80%;
  text-align: left;
  max-width: 80%;
}

.faq1 {
  font-size: 1em;
  font-family: Verdana;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.faq2 {
  font-size: 2em;
  font-weight: normal;
  margin-top: 0;
}

.accordion {
  max-width: 80%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease;
}

.accordion-items {
  margin-bottom: 1.5rem;
  color: #000000;
  background-color: #ecf5f4;
  font-size: medium;
  padding: 1.5rem 2rem;
  border-radius: 10px;
  overflow: hidden; /* Hide overflow to create smooth animation */
  transition: all 0.5s ease-in-out; /* Apply transition to max-height */
  animation-duration: 300ms;
}

.accordion-items:hover{
  background-color: #97dae9;
  transition: all;
  animation-duration: 500ms;
}

.accordion-title {
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: normal;
}

.icons {
  color: #1f1e1ea1;
}

.icons:hover {
  color: #1f1e1e;
}

.accordion-content {
  font-size: 1rem;
  padding-top: 0.75rem;
}

@media screen and (max-width: 700px) {
  body {
    font-size: 18px;
  }

  .accordion {
    width: 90%;
  }
}
